div{
<<<<<<< HEAD
    background-color: blue;
=======
    background-color: yellow;
>>>>>>> idea3-branch
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 30px;
<<<<<<< HEAD
    font-style: italic;
=======
  
>>>>>>> idea3-branch
}

